##############################################################################
#
# Aliases Table Description
#
##############################################################################

## inputs
SSM::alias speed FlightControl::FCU/speed
SSM::alias altitude FlightControl::FCU/altitude
SSM::alias MCPaltitude FlightControl::FCU/MCPaltitude
SSM::alias MCPspeed FlightControl::FCU/MCPspeed
SSM::alias AutoPilot FlightControl::FCU/AutoPilot
SSM::alias MCP_UnlockRoll FlightControl::FCU/MCP_UnlockRoll
## outputs
SSM::alias throttleCmd FlightControl::FCU/throttleCmd
SSM::alias elevatorCmd FlightControl::FCU/elevatorCmd
SSM::alias SDY_Airspeed FlightControl::FCU/SDY_Airspeed
SSM::alias SDY_Pitch_Angle FlightControl::FCU/SDY_Pitch_Angle
SSM::alias SDY_Roll_Angle FlightControl::FCU/SDY_Roll_Angle
SSM::alias SDY_Alti FlightControl::FCU/SDY_Alti
SSM::alias SDY_Baro_Scale FlightControl::FCU/SDY_Baro_Scale
SSM::alias JV_Speed_Alarm FlightControl::FCU/JV_Speed_Alarm
SSM::alias JV_Alti_Alarm FlightControl::FCU/JV_Alti_Alarm
