##############################################################################
#
# Initialization Scenario Description
#
##############################################################################

## inputs
# real
SSM::set speed 592.64
# real
SSM::set altitude 365.76
# real
SSM::set MCPaltitude 1200.0
# real
SSM::set MCPspeed 320.0
# bool
SSM::set AutoPilot false
# bool
SSM::set MCP_UnlockRoll true

